<main>
    <h1>
        Hello! <i class="bi bi-emoji-smile-fill"></i>
    </h1>

    <h3>
        Hello! <i class="bi bi-emoji-smile-fill"></i>
    </h3>

    <h5>
        Hello! <i class="bi bi-emoji-smile-fill"></i>
    </h5>

    <button class="btn btn-primary">
        Hello! <i class="bi bi-sd-card-fill"></i>
    </button>

    <button class="btn btn-warning">
        Hello! <i class="bi bi-sd-card-fill"></i>
    </button>

    <i class="bi bi-emoji-smile"></i>

    <i class="bi bi-sd-card-fill"></i>

    <i class="fa-brands fa-slack fa-beat fa-2xl" style="color: #f5c000;"></i>

    <img src="/svg/slack.svg">
</main>