<main class="p-5">
    <div class="row g-4">
        <div class="col-12">
            <div class="nav nav-tabs">
                <div class="nav-item">
                    <a href="#" class="nav-link active">Main</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Catalog</a>
                </div>
                <div class="nav-item">
                    <a href="#" class="nav-link">Shop list</a>
                </div>
            </div>

        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <div class="nav flex-column">
                        <div class="card mb-3">
                            <div class="nav-item">
                                <a href="/summary" class="nav-link">Home page</a>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="nav-item">
                                <a href="#" class="nav-link disabled">Catalog</a>
                            </div>
                        </div>
                        <div class="card">
                            <div class="nav-item">
                                <a href="/skills" class="nav-link active">FAQ</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#">Home</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="#">PC and laptop</a>
                        </li>
                        <li class="breadcrumb-item">
                            MacBook
                        </li>
                    </ol>
                </div>
                <div class="col-12">
                    <h6>Hello, world! <span class="badge text-bg-primary rounded-pill text-uppercase">new!</span> </h6>
                    <button class="btn btn-primary rounded-pill m-2">Click me</button>
                    <div class="alert alert-primary">This is an important info!</div>
                </div>
                <div class="col-12">
                    <button class="btn btn-dark m-5 p-5">Button</button>
                    <button class="btn btn-dark mt-5 pt-5">Button</button>
                    <button class="btn btn-dark mb-5 pb-5">Button</button>
                    <button class="btn btn-dark ms-5 ps-5">Button</button>
                    <button class="btn btn-dark me-5 pe-5">Button</button>
                    <button class="btn btn-dark mx-5 px-5">Button</button>
                    <button class="btn btn-dark my-5 py-5">Button</button>
                </div>
            </div>
        </div>
    </div>
</main>