<main>
    <h1 class="text-center text-uppercase">Hello World!</h1>
    <h2 class="text-end text-lowercase">Hello World!</h2>
    <h3 class="text-capitalize">hello world ble!</h3>

    <hr>

    <div class="display-1 text-muted">Hello World!</div>
    <div class="display-5">Hello World!</div>
    <div class="display-6">Hello World!</div>


    <hr>

    <div class="text-end text-muted">
        <span>Додатковий текст</span>
    </div>

    <hr>

    <button class="btn btn-primary">
        <span class="text-uppercase">primary button</span>
    </button>
    <button class="btn btn-secondary">secondary button</button>
    <button class="btn btn-success">success button</button>
    <button class="btn btn-danger">danger button</button>
    <button class="btn btn-warning">warning button</button>
    <button class="btn btn-info">info button</button>
    <button class="btn btn-light">light button</button>
    <button class="btn btn-dark">dark button</button>
    <button class="btn btn-link">link button</button>

    <br>
    <br>

    <a href="#" class="btn btn-dark">Link</a>

    <hr>

    <span class="text-spanrimary">My text</span>
    <span class="text-success">My text</span>
    <span class="text-danger">My text</span>
    <span class="text-warning">My text</span>
    <span class="text-info">My text</span>
    <span class="text-light">My text</span>
    <span class="text-dark">My text</span>
    <span class="text-muted">My text</span>

    <hr>

    <button class="btn btn-outline-primary">primary outline button</button>
    <button class="btn btn-outline-secondary">secondary outline button</button>
    <button class="btn btn-outline-success">success outline button</button>
    <button class="btn btn-outline-danger">danger outline button</button>
    <button class="btn btn-outline-warning">warning outline button</button>
    <button class="btn btn-outline-info">info outline button</button>
    <button class="btn btn-outline-light">light outline button</button>
    <button class="btn btn-outline-dark">dark outline button</button>
    <button class="btn btn-outline-link">link outline button</button>

    <br>
    <br>

    <div class="card">
        <div class="card-body">

            <button class="btn btn-secondary btn-lg">Add</button>
            <button class="btn btn-outline-secondary ">Edit</button>
            <button class="btn btn-outline-danger btn-sm">Delete</button>
        </div>
    </div>


    <br>
    <br>

    <div class="card">
        <div class="card-body">
            Some content
        </div>
    </div>
</main>