<main>
    {{#with newsBlock}}
    <section class="mb-5">
        <h2 class="text-center mb-3">{{title}}</h2>
        <div class="row g-3">
            {{> shoppost}}
        </div>
    </section>
    {{/with}}

    <hr>

    {{#with goodsBlock}}
    <section class="mt-5">
        <div class="nav nav-tabs">
            {{#each tabs}}
            <div class="nav-item">
                <button {{#if isDisabled}} class="btn btn-link nav-link disabled" {{/if}} {{#if isActive}}
                    class="btn btn-link nav-link active" {{else}} class="btn btn-link nav-link" {{/if}}>
                    {{text}}
                </button>
            </div>
            {{/each}}
        </div>

        <div class="row g-0 mt-5">
            {{#each cards}}
            <div class="col-4">
                {{> shopcard}}
            </div>
            {{/each}}
        </div>
    </section>
    {{/with}}

    <hr>

    {{> shopSubscribeBlock}}

    <hr>

    {{> shopaction}}


    <hr>
</main>