<div>
    {{#if name}}
    <div>Name: {{name}}</div>
    {{/if}}
    {{#if value}}
    <div>Value: {{value}}</div>
    {{/if}}
    {{#if type}}
    <div>Type: {{type}}</div>
    {{/if}}
    <div>Description: {{description}}</div>
</div>
<br>