<div class="col-4">
    <a href={{link}} {{#if isPrimary}} class="btn btn-primary" {{/if}} {{#if isSecondary}}
        class="btn btn-outline-secondary" {{/if}} {{#if isDanger}} class="btn btn-outline-danger" {{/if}}>{{text}}</a>
</div>