{{#with subscribe}}
<section class="my-5">
    <div class="card text-bg-dark">
        <div class="row">
            <div class="col-6 pt-2 ps-4">
                <h2>{{header}}</h2>
                <p>{{description}}</p>
            </div>
            <div class="col-6 text-end pt-4 pe-4">
                {{#each buttons}}
                <a href={{link}} class="btn btn-primary me-2">{{text}}</a>
                {{/each}}
            </div>
        </div>
    </div>
</section>
{{/with}}